<html>
<head>
  <style>
    .fieldWrapper {
      padding: 15px;
    }

    .displaymiddle {
      text-align: middle;
    }

    .w3-display-container {
      width: 100%;
      text-align: center;
    }
  </style>
</head>
<body>

{% extends 'Empowerment/base.html' %}

{% block content %}

<div class="w3-top">
  <div class="w3-row w3-padding w3-orange">
    <div class="w3-col s3">
      <a class="w3-display-middle" "w3-button w3-block w3-purple">ADD A NEW PRODUCT</a>
      <br></br>
    </div>

  </div>
</div>
<div class="w3-display-container">
<br></br>
    <h1>Add a New Product:</h1></div>
<br></br>
<div class="w3-display-container">
    <form method="POST" class="product-form">{% csrf_token %}
      {{ form.as_p }}

        <button type="submit" class="save btn btn-default">Save</button>
    </form></div>
{% endblock %}

</body>
</html>
